<h1>Cond&eacute; Nast Traveler Demo of Swipe.js 2.0</h1>

<div style='text-align:center; padding-top:20px;'>
  <button onclick='cntslider.prev();'>Prev</button>
  <button onclick='cntslider.next();'>Next</button>
</div>

<section class="slideshow-container row twelve colgrid">
  <canvas id="previewPaneLeft" class="image-preview-pane two columns"></canvas>
  <div id='cntslider' style='max-width: 1000px;' class='swipe eight columns'>
    <div class='swipe-wrap'>
      <img gumby-supports gumby-default="/ses-cntslideshows-images/demo1.jpg" gumby-media="only screen and (min-width: 768px)|/ses-cntslideshows-images/demo1x568px.jpg,only screen and (max-width: 768px)|/ses-cntslideshows-images/demo1x768px.jpg">
      <img gumby-media="only screen and (min-width: 768px)|/ses-cntslideshows-images/demo2.jpg,only screen and (max-width: 768px)|/ses-cntslideshows-images/demo2.jpg" alt="">
      <img gumby-media="only screen and (min-width: 768px)|/ses-cntslideshows-images/demo3.jpg,only screen and (max-width: 768px)|/ses-cntslideshows-images/demo3.jpg" alt="">
      <img gumby-media="only screen and (min-width: 768px)|/ses-cntslideshows-images/demo4.jpg,only screen and (max-width: 768px)|/ses-cntslideshows-images/demo4.jpg" alt="">
    </div>
  </div>
  <canvas id="previewPaneRight" class="image-preview-pane two columns"></canvas>
</section>