#ses-id-main {
  background: #333;
  color: yellow;
}

#ses-id-main p {
  margin: 10px;
  padding: 10px;
  background: black;
  border-radius: 5px;
  color: green;
}
#ses-id-main a {
  color: green;
}

#ses-id-main li {
  color: green;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}
