<!DOCTYPE html>
<html>
<head>
  {{> ses-core-head }}
  {{> ses-cntslideshows-head }}
</head>
<body>
  {{> ses-core-header }}
  {{> ses-cntslideshows-main }}

  {{> ses-core-scripts-body-js }}
</body>
</html>
